@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: rgb(var(--foreground-rgb));
  background: url("https://www.gameuidatabase.com/uploads/Fire-Emblem-Three-Houses12242020-030037-11562.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-weight: light;
}
main {
  width: 100vw;
  margin: 0;
  display: flex;
}
aside {
  height: calc(100vh - 40px);
  width: 300px;
  padding: 0 25px;
}
.container {
  width: 250px;
  position: fixed;
  top: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}
.header {
  height: 100px;
}
.content {
  width: 250px;
  max-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  background-color: #606060; /* Assuming you want a gray background */
  color: white;
  font-weight: lighter;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
}
.card {
  max-width: 550px;
  background-color: rgb(148 163 184);
  border-radius: 2.5rem;
  box-shadow: rgba(0, 0, 0, 1) 0px 3px 8.5px;
  padding-bottom: 30px;
  margin: 0.75rem auto;
}
.detail {
  width: 304px;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: repeat(auto, 30px);
  font-weight: 600;
  gap: 2.5px;
}
.card-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px 5px;
}
.card-text {
  width: 150px;
  padding: 0px 10px;
  grid-column: span 1;
  grid-row: span 1;
  background-color: rgb(203 213 225);
}

.row-span-1 {
  grid-row: span 1;
}
.row-span-2 {
  grid-row: span 2;
}
.row-span-3 {
  grid-row: span 3;
}
.row-span-4 {
  grid-row: span 4;
}
.row-span-5 {
  grid-row: span 5;
}
.row-span-6 {
  grid-row: span 6;
}
.row-span-7 {
  grid-row: span 7;
}

.page-content {
  width: calc(100% - 300px);
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
select {
  display: none;
}
@media (max-width: 801px) {
  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .page-content {
    width: 100vw;
  }
  .title {
    font-size: 30px;
  }
  .sub-title {
    font-size: 20px;
  }
  .list {
    width: 300px;
  }
  aside {
    display: none;
  }
  select {
    position: relative;
    top: 5px;
    right: 30px;
    display: inline-block;
    height: 30px;
  }
  .card {
    width: 525px;
    margin: 0.75rem auto;
    padding: 1.25rem auto;
    padding-bottom: 30px;
  }
}
