@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: rgb(var(--foreground-rgb));
  background: url("https://www.gameuidatabase.com/uploads/Fire-Emblem-Three-Houses12242020-030037-11562.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-weight: light;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  width: 1280px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}
aside {
  position: relative;
  max-width: 300px;
  top: 0;
  left: 0;
  margin: 20px 0;
}
.header {
  height: 100px;
}

@media (max-width: 801px) {
  main {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }
  .title {
    font-size: 30px;
  }
  .sub-title {
    font-size: 20px;
  }
  .list {
    width: 300px;
  }
  aside {
    display: none;
  }
}
