@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("https://www.gameuidatabase.com/uploads/Fire-Emblem-Three-Houses12242020-030037-11562.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-weight: light;
  box-sizing: border-box;
}
main{
  width: clamp();
}

@media (max-width: 500px) {
  .title {
    font-size: 30px;
  }
  .sub-title{
    font-size: 20px;
  }
  .list{
    width: 300px;
  }
}